@model List<RaWMVC.ViewModels.ReadingListStoryViewModel>

@{
    ViewData["Title"] = "ListStory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null && Model.Count > 0)
{
    foreach (var story in Model)
    {
            @if (story != null && story.StoryId != Guid.Empty) {
                <div class="story_item bg-body p-4 d-flex w-75">
                    <img src="@Url.Content("~/storyImg/" + story.Medium.FileName+ "." + story.Medium.Extension)" alt="" />
                    <div class="story_item_content">
                        <h3>@story.StoryTitle</h3>
                        <p class="mt-3"><span>@story.Username</span></p>
                        <div class="more_infor d-flex justify-content-between">
                            <div class="more_infor_right d-flex">
                                <div class="reader me-2">
                                    <i class="fa-solid fa-book-open-reader"></i> 123K
                                </div>
                                <div class="rate me-2">
                                    <i class="fa-solid fa-star"></i> 100K
                                </div>
                                <div class="chapter">
                                    <i class="fa-solid fa-list-ol"></i> 23
                                </div>
                            </div>
                            <div class="more_infor_left">
                                <p class="bg-success text-white rounded-pill">@story.StatusName</p>
                            </div>
                        </div>
                        <p class="fs-6 story_item_description">@story.StoryDescription</p>
                    </div>
                </div>
            }
        @* </div> *@
    }
}
else
{
    <h1>You don't have any stories yet!!!</h1>
}
