@model RaWMVC.ViewModels.ChapterDetailViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main_content">
    <div class="subnavigate d-flex rounded">
        <div class="chapter_number">
            <div class="btn-group">
                <button class="btn_chapter dropdown-toggle ms-3"
                        type="button"
                        data-bs-toggle="dropdown"
                        data-bs-auto-close="outside"
                        aria-expanded="false">
                    <i class="fa-solid fa-list-ol"></i> <span>14</span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown_chapter">
                        <a href="#"
                           class="dropdown-item d-flex text-decoration-none text-dark w-100 justify-content-between">
                            <p>
                                <strong>Chapter 12: </strong>Lorem ipsum dolor ipsum dolor
                            </p>
                        </a>
                    </li>
                    <li class="dropdown_chapter">
                        <a href="#"
                           class="dropdown-item d-flex text-decoration-none text-dark w-100 justify-content-between">
                            <p>
                                <strong>Chapter 12: </strong>Lorem ipsum dolor ipsum dolor
                            </p>
                        </a>
                    </li>
                    <li class="dropdown_chapter">
                        <a href="#"
                           class="dropdown-item d-flex text-decoration-none text-dark w-100 justify-content-between">
                            <p>
                                <strong>Chapter 12: </strong>Lorem ipsum dolor ipsum dolor
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <h5 class="title_story">
            @Model.Chapter.ChapterTitle
        </h5>
        <div class="placement">
            <div class="heart @(Model.IsLiked ? "is-active" : "")" id="likeButton" onclick="toggleLike('@Model.ChapterId')"></div>
            <span id="likeCount">@Model.LikeCount</span>
        </div>
        <div class="author d-flex justify-content-between mb-2 me-3">
            <img class="img_author me-2"
                 src="~/assets/img/mascot_sheep.png"
                 alt="" />
            <p class="fst-italic">@Model.Username</p>
        </div>
    </div>
    <div class="reading_story_container d-flex mt-5">
        <div class="story_content shadow p-3 mb-5 bg-body-tertiary rounded w-50">
            <p>@Model.Chapter.ChapterContent</p>
        </div>
        <div class="right_container w-50">
            <div class="rcm_story">
                <div class="also_like_story shadow p-3 mb-5 bg-body-tertiary rounded">
                    <h3>You may also like</h3>
                    @foreach (var story in Model.SuggestedStories)
                    {
                        <a href="@Url.Action("Detail", "Story", new { idStory = story.StoryId })" 
                            class="text-decoration-none text-dark">
                            <div class="also_like_item d-flex w-100">
                                <img src="@Url.Content("~/storyImg/" + story.Medium.FileName + "." + story.Medium.Extension)"
                                     alt="Cover image" />
                                <div class="infor_item ms-4">
                                    <strong>
                                        @story.StoryTitle
                                    </strong>
                                    <div class="profile_infor d-flex mt-4">
                                        <div class="reader me-2">
                                            <i class="fa-solid fa-book-open-reader"></i> 123K
                                        </div>
                                        <div class="rate me-2">
                                            <i class="fa-solid fa-star"></i> 100K
                                        </div>
                                        <div class="chapter">
                                            <i class="fa-solid fa-list-ol"></i> 23
                                        </div>
                                    </div>
                                    <p class="description mt-4">
                                        @story.StoryDescription
                                    </p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
            <div class="comments shadow p-3 mb-5 bg-body-tertiary rounded">
                @await Html.PartialAsync("_Comments", Model.CommentVM?.Comments)
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script>
        //=== Delete Comment ===//
        var inputChapterId = document.getElementById("chapterId").value;
        var divCommetList = document.getElementById("comment-list");

        function deleteComment(idComment, chapterId) {
            $.ajax({
                type: 'POST',
                url: "/Comment/Delete",
                data: {
                    idComment,
                    chapterId: inputChapterId
                },
                success: function (data) {
                    alert("Delete successfully!!!");
                    window.location.reload();
                },
                error: function (err) {

                },
                complete: function (e) {

                },
            });
        }
        //=== Like Function ===//
        let hasClicked = false;

        function increaseCountLike(newCount) {
            const countSpan = document.getElementById('likeCount');
            countSpan.textContent = newCount;

            hasClicked = true;

            const heart = document.querySelector('.heart');
            heart.classList.add('is-active'); // Đổi màu biểu tượng trái tim
        }

        function decreaseCountLike(newCount) {
            const countSpan = document.getElementById('likeCount');
            countSpan.textContent = newCount;

            hasClicked = false;

            const heart = document.querySelector('.heart');
            heart.classList.remove('is-active'); // Trở về màu ban đầu
        }

        function toggleLike(chapterId) {
            const userId = '@Model.UserId';

            console.log('UserId:', userId)
            $.ajax({
                url: '/Like/ToggleLike',
                type: 'POST',
                data: { 
                    chapterId: chapterId,
                    userId: userId
                },
                success: function (response) {
                    if (response.success) {
                        const countSpan = document.getElementById('likeCount');
                        countSpan.textContent = response.likeCount;

                        const heart = document.querySelector('.heart');

                        if (response.isLiked) {
                            heart.classList.add('is-active');
                        } else {
                            heart.classList.remove('is-active');
                        }
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('An error occurred while toggling the like.');
                }
            });
        }


        document.addEventListener("DOMContentLoaded", function () {
            const isLiked = @Model.IsLiked.ToString().ToLower();
            hasClicked = (isLiked === "true");

            if (hasClicked) {
                const heart = document.querySelector('.heart');
                heart.classList.add('is-active');
            }
        });

    </script>
}